@tailwind base;
@tailwind components;
@tailwind utilities;

.shake {
  animation: shakeit 0.89s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  animation-delay: 0.3s;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}
.pop-up {
  animation: pop 3.1s ease-in-out forwards;
  transition: 0.2s ease;
  transform: 0px;
}

@keyframes pop {
  0% {
    transform: translateY(20rem);
  }
  29% {
    transform: translateY(0px);
    opacity: 1;
  }
  78% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 0;
  }
}

@keyframes shakeit {
  0%,
  80% {
    transform: translate3d(-1px, 0, 0);
    opacity: 1;
  }

  10%,
  70% {
    transform: translate3d(2px, 0, 0);
    opacity: 1;
  }

  20%,
  40%,
  60% {
    transform: translate3d(-4px, 0, 0);
    opacity: 1;
  }

  30%,
  50% {
    transform: translate3d(4px, 0, 0);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.search-box {
  transition: box-shadow 0.2s linear;
}
.nav_animation {
  transition: border-bottom 0.2s ease-out;
}
.ani {
  transition: background-color 0.2s ease;
}
.all_ani {
  transition: all 0.3s ease-in-out;
}
.nav_link {
  @apply ml-5 px-2 border-b-2 border-transparent h-full flex items-center;
  a {
    @apply py-10 px-6 flex items-center;
  }
}
.btn-custom {
  @apply px-12 py-4 font-thin rounded-sm text-center w-full;
}
.message {
  &.error {
    @apply shake text-sm rounded-full font-semibold border-2 border-red-700 bg-red-700 text-white;
  }
  &.success {
    @apply pop-up text-sm rounded-full font-semibold border-2 border-green-600 bg-green-600 text-white;
  }
  &.info {
    @apply pop-up text-sm rounded-full font-semibold border-2 border-teal-900 bg-teal-900 text-white;
  }
}
#id_email {
  @apply px-12 py-4 border border-gray-600 rounded-sm w-full bg-white mb-3 #{!important};
}
#id_password {
  @apply px-12 py-4 border border-gray-600 rounded-sm w-full bg-white mb-3 #{!important};
}
#id_password1 {
  @apply px-12 py-4 border border-gray-600 rounded-sm w-full bg-white mb-3 #{!important};
}
#id_first_name {
  @apply px-12 py-4 border border-gray-600 rounded-sm w-full bg-white mb-3 #{!important};
}
#id_last_name {
  @apply px-12 py-4 border border-gray-600 rounded-sm w-full bg-white mb-3 #{!important};
}
#error_messages {
  @apply text-sm font-medium text-red-600 mb-3 items-start w-full;
}
#id_old_password {
  @apply px-12 py-4 border border-gray-600 rounded-sm w-full bg-white mb-3 #{!important};
}
#id_new_password1 {
  @apply px-12 py-4 border border-gray-600 rounded-sm w-full bg-white mb-3 #{!important};
}
#id_new_password2 {
  @apply px-12 py-4 border border-gray-600 rounded-sm w-full bg-white mb-3 #{!important};
}
#id_avatar {
  @apply px-12 py-4 border border-gray-600 rounded-sm w-full bg-white mb-3 #{!important};
}
#avatar-clear_id {
  @apply px-12 py-4 border border-gray-600 rounded-sm w-full bg-white mb-3 #{!important};
}
#id_date_of_birth {
  @apply px-12 py-4 border border-gray-600 rounded-sm w-full bg-white mb-3 #{!important};
}
textarea {
  height: 130px;
  resize: none;
  @apply px-4 py-4 w-full border border-gray-600 rounded-sm bg-white mb-3;
}
select {
  @apply px-1 py-1 w-full border border-gray-600 rounded-sm bg-white mb-3;
}
