{% extends "base.html" %}

{% block page_name %} UPDATE {% endblock page_name %}

{% block search-bar %}{% endblock search-bar %}

{% block content %}
  <div class="lg:w-1/3 md:w-11/12 p-6 border border-gray-300 container mx-auto flex flex-col items-center">
    <form class="w-full mt-10 flex flex-col" method="post" action="{% url "users:update" %}" enctype="multipart/form-data">
      {% csrf_token %}
      {% for field in form %}
        {% include "partials/user_input.html" with field=field %}
      {% endfor %}
      <button class="ani hover:bg-red-700 text-center mb-3 btn-custom text-white bg-red-500">Update</button>
    </form>
  </div>
{% endblock %}